{% extends 'base.html.twig' %}

{% block title %}Accueil | Filmothèque{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %} 

{% block body %}

    {% include "./components/_second_nav.html.twig" %}
    <div id="carousel"></div>

    <section class="content">
        <div id="info"></div>
        <div class="news p-4">
            <h3 class="text-center text-white"> Nouveautés</h3>
            <div class="d-flex">
                <div class="firstDiv">
                    <a href="" class="p-2 imgOne"><img src="/img/home/pulpfiction.png" alt="" /></a>
                </div>
                <div class="d-flex flex-wrap px-4 px-4 secondPart">
                    <a href="" class="p-2 imgEight"><img src="/img/home/avatar.png" alt=""/></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/inception.png" alt=""/></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/joker.png" alt=""/></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/le_discours_dun_roi_affiche.png" alt=""/></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/toystory.png" alt=""/></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/thepaintedveil.png" alt="" /></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/matrix.png" alt=""/></a>
                    <a href="" class="p-2 imgEight"><img src="/img/home/Le_Temoin_du_mal.png" alt="" /></a>
                </div>
            </div>
        </div>
    </section>


        


    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}

{% endblock %}
