{% extends 'base.html.twig' %}

{% block title %}Accueil | Filmothèque{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %} 

{% block body %}

    {% include "./components/_second_nav.html.twig" %}
    <div id="carousel"></div>

    <section class="content">
        
        <div id="info"></div>
        <div id="news"></div>

    </section>


        


    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}

{% endblock %}
