@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~@fortawesome/fontawesome-free/css/regular.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import '~@fortawesome/fontawesome-free/css/brands.min.css';

@import "~bootstrap/dist/css/bootstrap.css";
/* -------------------------------------------------------------------- */
/* Général */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables pour les couleurs */
:root{
    --main-white: #ffffff;
    --main-blue: #349999;
    --main-greenblue: #297272;
    --main-darkgreen: #003333;
    --main-black: #212221;
    --main-grey: #ebe7e7;
    --flash-bg-success: #4c8d3f;
    --flash-text-success: #ffffff;
    --flash-bg-warning: #d33a4b;
    --flash-text-warning: #ffffff;
}

a{
    text-decoration: none;
    color: inherit;
}

.footerLinks:hover, .headerLinks:hover{
    color: var(--main-greenblue) !important;
    transition: 0.5s;
}

.logo{
    width: 80px;
}

.logoHeader{
    position: relative;
}

.logoAuthenticate{
    width: 100%;
}
/* Fin Général */

/* -------------------------------------------------------------------- */

/* Deuxième Nav */
.secondNav{
    background-color: #3499998f !important;
    height: 70px !important;
    z-index: 1;
}
.secondNavLinks:hover{
    color: #ffffff !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #97b6b6,
        0 0 82px #97b6b6,
        0 0 92px #97b6b6,
        0 0 102px #97b6b6,
        0 0 151px #97b6b6;
    transition: 0.5s;
}

.searchBar{
    padding: 8% 0 4% 0 !important;
}

.searchBtn{
    background-color: var(--main-greenblue) !important;
}
/* Fin Nav */
/* -------------------------------------------------------------------- */

/* Style des messages de succès et d'erreurs */

.flash-success{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background-color: var(--flash-bg-success);
    color: var(--flash-text-success);
    animation: blinker 3s linear 2;
}

.flash-warning{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background-color: var(--flash-bg-warning);
    color: var(--flash-text-warning);
    animation: blinker 3s linear 3;
}
.form-errors{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--flash-bg-warning);
    color: var(--flash-text-warning);
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/* Fin du style des messages de succès et d'erreurs */
/* -------------------------------------------------------------------- */

/* Animation IntersectionObserver*/
[class*="reveal-"]{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1.4s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2{ /* Pour mettre un délai dans l'apparition des blocs au scroll */
    transition-delay: .1s;
}

.reveal-3{
    transition-delay: .2s;
}

.reveal-4{
    transition-delay: .3s;
}

.reveal-5{
    transition-delay: .4s;
}

.reveal-6{
    transition-delay: .5s;
}

.reveal-7{
    transition-delay: .1s;
}
/* Fin Animation IntersectionObserver*/
/* -------------------------------------------------------------------- */

/* Contenu */

.content{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 10%;
    background-color: var(--main-grey);
    overflow:hidden;
    padding: 0;
}
