/* Filtre */
.dropdownMenu{
    background-color: #efefef;
    width: 30%;
    padding: 2%;
}

.titleDropdown{
    color: #7a7878;
    font-weight: 400;
}
/* Fin filtres */

/* ------------------------------------------------------------------------------- */

/* Search Bar */

.mask.d-flex.justify-content-center.align-items-center.searchBar {
    background-color: #003333;
    padding: 8% 0px 4% 0!important;
    
}
/* Fin de la Search Bar */

/* ------------------------------------------------------------------------------- */

/* Cards films */

.containers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:2%;
}

.film{
    width: 25%;
    padding: 1%;
}

.img{
    position: relative;
}

.img img{
    width: 100%;
}

.align{
    text-align: center;
    background-color: #297272d3;
    transition: all 0.4s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.align p{
    color: white;
    font-size: 0.8vw;
    border: 1px solid;
    border-radius: 2%;
    padding: 4%;
    margin: 5%;
    text-align: start;
    transition: all 0.3s linear;
    opacity: 0;
    transform: translateY(100px);
}
.align h2{
    color: white;
    font-size: 2vw;
    font-weight: 300;
    padding: 8% 2% 0 2%;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-100px);
}

.align svg{
    color: var(--main-white) !important;
    position: absolute;
    bottom: 10%;
    font-size: 2vw;
    right: 50% !important;
    left: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.film:hover{
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
}

.item:hover .align, .item:hover .align{
    opacity: 1;
}

.item:hover .align p, .item:hover .align p{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}

.item:hover .align h2, .item:hover .align h2{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
}
/* ------------------------------------------------------------------------------- */