/* Vue Carousel */
.agile__nav-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    width: 80px;
}

.agile__nav-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.agile__nav-button--prev {
    left: 0;
}

.agile__nav-button--next {
    right: 0;
}

.agile__dots {
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.agile__dot {
    margin: 0 10px;
}

.agile__dot button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
    background-color: #fff;
}

.slide {
    display: block;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

/* Modification/Ajout de code pour styliser le carousel */
.agile{
    height: 600px;
}

.agile__list {
    height: 100%;
}

.textCarousel{
    position: absolute;
    color: var(--main-white);
    bottom: 0;
    left: 9%;
    background: #99939363;
    padding: 2%;
    margin: 0 62% 0 0;
}

.linkCarousel{
    background: var(--main-blue);
    color: var(--main-white);
    border-radius: 50px;
    position: absolute;
    right: 12%;
    bottom: 0;
    padding: 1%;
}

.linkCarousel:hover{
    color: var(--main-white) !important;
    background-color: var(--main-darkgreen);
    transition: 0.5s;
}

.titleCarousel{
    font-size: 18px;
}

.info{
    font-size: 12px;
}

.imgCarousel{
    width: 100%;
}
/* Fin Vue Carousel */
/* ---------------------------------------------------------------------------------- */
/* Contenu */
.linksInfo{
    color: var(--main-greenblue) !important;
    font-weight: bold;
}

.linksInfo:hover{
    color: var(--main-darkgreen) !important;
    transition: 0.5s;
}

.news{
    background-color: var(--main-darkgreen);
}

/* Deux sections des images */
.leftDiv{
    width: 30%;
    position: relative;
}

.secondDiv{
    width: 70%;
    height: 100%;
}

.rightDivs{
    width: 25%;
    height: 100%;
    padding: 2%;
}

/* Fin des deux sections des images */

.imgOne img{
    width: 100%;
    height: 100%;
}

.imgEight{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgEight img{
    width: 100%;
    height: 100%;
}

.align{
    text-align: center;
    background-color: #297272a6;
    transition: all 0.4s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.align p{
    color: white;
    font-size: 14px;
    padding: 30px 0 0 0;
    transition: all 0.3s linear;
    opacity: 0;
    transform: translateY(100px);
}
.align h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 30px 0 0 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-100px);
}

.leftDiv:hover .align, .rightDivs:hover .align{
    opacity: 1;
}

.leftDiv:hover .align p, .rightDivs:hover .align p{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}

.leftDiv:hover .align h2, .rightDivs:hover .align h2{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
}
