<!-- Footer -->
<footer class=" text-center text-white bg-dark">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Text -->
        <section class="mb-1">
            <h3>FILMOTHÈQUE</h3>
        </section>
        <!-- Section: Text -->
        <section class="text-center p-1">
        <a href="#!" class="text-white p-2">Qui sommes nous</a>
        <a href="#!" class="text-white p-2">Contact</a>
        <a href="#!" class="text-white p-2">Concept</a>
        </section>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                        <p>© 2020 Copyright: Mehdi, Kélian, Messine, Nejma.<p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
