
    <div class="mask d-flex justify-content-around align-items-center position-absolute start-0 end-0" style="background-color: #3499998f;height: 70px;">
        <a href="#" class="text-white nav-link secondNav">NOUVEAUTÉS</a>
        <a href="#" class="text-white nav-link secondNav">TOP</a>
        <a href="#" class="text-white nav-link secondNav">SÉLECTIONS</a>
        <a href="#" class="text-white nav-link secondNav">GENRE</a>
        <a href="#" class="text-white nav-link secondNav">CATALOGUE</a>
    </div>